<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: block; align-items: center;">
        <h1>You searched for: <%= data.userQuery %> </h1>
        <% if(data.loggedIn) { %>
            <h2>You are loggedIn as : <%= data.username %></h2>
        <% } %>
        <ul>
           <% data.searchResults.forEach(result => { %>
               <li><%= result %> </li> 
          <% }); %>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {
            $('#form').submit((e) => {
                e.preventDefault();
                $.ajax({
                    url : '/',
                    type : 'post',
                    contentType: 'application/json',
                    data : JSON.stringify($('#form').serializeArray()),
                    success : (response) => {
                        console.log('successfully got response');
                        console.log(response);
                    } 
                })
            });
        })
    </script>
</body>
</html>